{% extends "JonathanCregutVotingBundle:Default:main_layout.html.twig" %}

{% block insidelayout %}
<div class="panel panel-default">
    <div class="panel-body" id="votes">
        {% for participant in participants %}
        <p class="lead"><span class="label label-success">{{participant.number }}</span> {{participant.name}} : <span class="label label-default">{{participant.votes}} {% if participant.votes == 1 %}vote{% else %}votes{% endif %}</span></p>
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ ( participant.votes / total ) * 100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ( participant.votes / total ) * 100 }}%">
              {{ participant.votes }}
            <span class="sr-only">{{ ( participant.votes / total ) * 100 }}% Complete (success)</span>
          </div>
        </div>
        {% else %}
        <p class="alert alert-warning">Pas de participants</p>
        {%endfor%}
        
    </div>
    <script type="text/javascript">
        function ReloadPage() {
           $('#subtitlediv').load(location.href + ' #subtitlediv');
           $('#votes').load(location.href + ' #votes');
        };
        
        $(document).ready(function() {
          setInterval("ReloadPage();", 2000);
        });
        
        

    </script>
</div>
{% endblock %}